<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="toFindUserDetails.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="toFindUserDetails.Properties.Settings.connectionString"
            connectionString="mongodb://127.0.0.1:27017" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <toFindUserDetails.Properties.Settings>
            <setting name="dbname" serializeAs="String">
                <value>sidharth</value>
            </setting>
        </toFindUserDetails.Properties.Settings>
    </applicationSettings>
</configuration>